<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Welcome for Edit Webpage . </h1>
    <form  action="/users/edit/// user._id %>?_method=PUT" method="POST" >
        <input 
            type="text"
            name="name"
            placeholder=" //user.name %>"
        />

        <br><br>

        <input 
            type="email"
            name="email"
            placeholder="// user.email %>"
        />

        <br><br>

        <input 
            type="number"
            name="age"
            placeholder=" // user.age %>"
        />

        <br><br>

        <button>Update User</button>
    </form>
</body>
</html> -->

<%- include('../partials/header', {title : 'Edit User'}) %>

<div class="form-container">

    <h1>Edit User</h1>

    <form action="/users/edit/<%= user._id %>?_method=PUT" method="POST">

        <input
            type="text"
            name="name"
            value="<%= user.name %>"
            required
        >

        <input
            type="email"
            name="email"
            value="<%= user.email %>"
            required
        >

        <input
            type="number"
            name="age"
            value="<%= user.age %>"
            required
        >

        <button type="submit">
            Update User
        </button>

    </form>

</div>

<%- include('../partials/footer') %>